# Projeto final

Bem vindo ao projeto final do curso/módulo de Pandas.
Neste projeto, você deve responder a um conjunto de perguntas feitas a dois conjuntos de dados:

1. [Obesity among adults by country, 1975-2016](https://www.kaggle.com/amanarora/obesity-among-adults-by-country-19752016/)
2. [GDP Per Person (1901-2011)](https://www.kaggle.com/divyansh22/gdp-per-person-19012011?select=GDP.csv)

Tais conjuntos de dados são públicos foram publicados no Kaggle. Mais instruções sobre cada um deles podem ser encontrados nos links acima. Você também os encontrará na pasta `Datasets`, dentro de nossas apostilas.

In [44]:
import pandas as pd
import numpy as np

## Perguntas - Obesity among adults by country, 1975-2016

In [45]:
df_obesity = pd.read_csv("Datasets/obesity_cleaned.csv")

- Limpe os dados do DataFrame, criando uma coluna de nome 'Obesity' que conterá os valores de obesidade. Transforme em float as colunas que porventura foram importadas como string.

In [133]:
del df_obesity["Unnamed: 0"]
df_obesity["Obesity"] = df_obesity['Obesity (%)'].apply(lambda x: x.split()[0])
df_obesity.loc[df_obesity['Obesity'] == "No", "Obesity"] = np.nan
df_obesity['Obesity'] = df_obesity['Obesity'].dropna()
df_obesity['Obesity'] = df_obesity['Obesity'].astype(float)
df_obesity['Year'] = df_obesity['Year'].astype(int)

KeyError: 'Unnamed: 0'

In [174]:
df_obesity.set_index("Year", inplace=True)
df_obesity.head()

KeyError: "None of ['Year'] are in the columns"

- Qual o percentual médio de obesidade por sexo no mundo no ano de 2015?

In [57]:
df_obesity[df_obesity.index == 2015].groupby('Sex').mean()

              Obesity
Sex
Both sexes  19.508377
Female      22.899476
Male        15.980628

- Quais são os 5 países com a maior e a menor taxa de aumento nos índices de obesidade no período observado?

In [60]:
df_obesity_start = df_obesity[df_obesity.index == 1975]
df_obesity_end = df_obesity[df_obesity.index == 2016]
df_obesity_start.set_index("Country", inplace = True)
df_obesity_end.set_index("Country", inplace = True)

In [62]:
df_evo = df_obesity_end["Obesity"] - df_obesity_start["Obesity"]

In [70]:
df_evo.dropna().sort_values().head(5)

Country
Viet Nam     1.5
Uganda       1.6
Ethiopia     1.7
Rwanda       1.8
Singapore    1.8
Name: Obesity, dtype: float64

In [69]:
df_evo.dropna().sort_values().tail(5)

Country
Niue      31.1
Niue      31.2
Tuvalu    32.7
Tuvalu    33.7
Tuvalu    34.6
Name: Obesity, dtype: float64

- Quais os países com maiores e menores níveis percetuais de obesidade em 2015?

In [108]:
df2015 = df_obesity[df_obesity.index == 2015]
df_country = df2015[df2015["Sex"] == "Both sexes"]
df_country = df_country.set_index("Country")

In [123]:
df_country.sort_values(by="Obesity").dropna().tail(5)

                       Obesity (%)         Sex  Obesity
Country
Tuvalu            50.9 [44.4-57.0]  Both sexes     50.9
Marshall Islands  52.4 [46.4-58.4]  Both sexes     52.4
Palau             54.8 [48.8-60.5]  Both sexes     54.8
Cook Islands      55.4 [49.8-61.0]  Both sexes     55.4
Nauru             60.7 [55.2-66.1]  Both sexes     60.7

- Qual a diferença média percentual de obesidade entre sexos ao longo dos anos para o Brasil?

In [137]:
df_brasil = df_obesity[df_obesity["Country"] == "Brazil"]
df_brasil = df_brasil.filter(items=["Sex","Obesity"])

In [138]:
df_brasil_female = df_brasil[df_brasil["Sex"] == "Female"]
df_brasil_male = df_brasil[df_brasil["Sex"] == "Male"]

In [144]:
df_dif = df_brasil_female["Obesity"] - df_brasil_male["Obesity"]

In [147]:
df_dif

Year
1975    4.3
1976    4.4
1977    4.6
1978    4.7
1979    4.9
1980    4.9
1981    5.1
1982    5.2
1983    5.4
1984    5.5
1985    5.6
1986    5.7
1987    5.8
1988    5.9
1989    6.0
1990    6.1
1991    6.1
1992    6.3
1993    6.3
1994    6.4
1995    6.4
1996    6.5
1997    6.6
1998    6.7
1999    6.8
2000    6.8
2001    6.8
2002    6.8
2003    6.9
2004    6.9
2005    6.9
2006    6.9
2007    7.0
2008    6.9
2009    7.0
2010    7.0
2011    6.9
2012    6.9
2013    6.9
2014    6.9
2015    6.9
2016    6.9
Name: Obesity, dtype: float64

- Você conseguiria plotar um gráfico mostrando a evolução da obesidade para ambos sexos no mundo?

In [173]:
df_world = df_obesity[df_obesity["Sex"] == "Both sexes"]
df_world

          Country       Obesity (%)         Sex  Obesity
Year
1975  Afghanistan     0.5 [0.2-1.1]  Both sexes      0.5
1976  Afghanistan     0.5 [0.2-1.1]  Both sexes      0.5
1977  Afghanistan     0.6 [0.2-1.2]  Both sexes      0.6
1978  Afghanistan     0.6 [0.2-1.3]  Both sexes      0.6
1979  Afghanistan     0.6 [0.3-1.3]  Both sexes      0.6
...           ...               ...         ...      ...
2012     Zimbabwe  14.3 [11.4-17.6]  Both sexes     14.3
2013     Zimbabwe  14.6 [11.5-18.0]  Both sexes     14.6
2014     Zimbabwe  14.9 [11.7-18.4]  Both sexes     14.9
2015     Zimbabwe  15.2 [11.9-18.8]  Both sexes     15.2
2016     Zimbabwe  15.5 [12.0-19.2]  Both sexes     15.5

[8190 rows x 4 columns]

## Perguntas - GDP Per Person (1901-2011)

In [245]:
df_gdp = pd.read_csv("Datasets/GDP.csv", decimal=".")

- Limpe o conjunto de dados, convertendo strings em datas ou float, quando necessário.

In [246]:
df_gdp["Year"] = df_gdp["Year"].apply(lambda x: int(x.split("/")[-1]))
df_gdp["GDP"] = df_gdp[" GDP_pp "].apply(lambda x: float(x.split()[0].replace(",", "")))

In [248]:
del df_gdp[" GDP_pp "]
df_gdp

          Country                                         Region  Year     GDP
0     Afghanistan  Middle East, North Africa, and Greater Arabia  1901  613.99
1     Afghanistan  Middle East, North Africa, and Greater Arabia  1906  624.04
2     Afghanistan  Middle East, North Africa, and Greater Arabia  1911  634.25
3     Afghanistan  Middle East, North Africa, and Greater Arabia  1916  647.28
4     Afghanistan  Middle East, North Africa, and Greater Arabia  1921  662.40
...           ...                                            ...   ...     ...
4414     Zimbabwe                             Sub-Saharan Africa  1991  782.09
4415     Zimbabwe                             Sub-Saharan Africa  1996  781.50
4416     Zimbabwe                             Sub-Saharan Africa  2001  719.96
4417     Zimbabwe                             Sub-Saharan Africa  2006  520.17
4418     Zimbabwe                             Sub-Saharan Africa  2011  526.33

[4419 rows x 4 columns]

- Você conseguiria informar o primeiro valor registrado de cada país?

In [254]:
df_first = df_gdp.set_index("Country")
df_first.groupby("Country").first()

                                                    Region  Year      GDP
Country
Afghanistan  Middle East, North Africa, and Greater Arabia  1901   613.99
Albania                                             Europe  1901  1062.01
Algeria      Middle East, North Africa, and Greater Arabia  1901  1807.76
Andorra                                             Europe  1901  3352.50
Angola                                  Sub-Saharan Africa  1901   525.76
...                                                    ...   ...      ...
Venezuela                                    South America  1901   766.21
Vietnam                                               Asia  1901   572.96
Yemen, Rep.  Middle East, North Africa, and Greater Arabia  1901   729.39
Zambia                                  Sub-Saharan Africa  1901   532.38
Zimbabwe                                Sub-Saharan Africa  1901   385.69

[193 rows x 3 columns]

- Informe as regiões com maiores crescimentos de PIB per capita no século passado.

In [259]:
df_reg = df_first[df_first["Year"]  < 2000].groupby('Region').max()

In [261]:
df_reg.sort_values(by=["GDP"]).

                                               Year        GDP
Region
South America                                  1996   12688.92
Central America and the Caribbean              1996   22024.19
Sub-Saharan Africa                             1996   25536.95
North America                                  1996   35807.00
Australia and Oceania                          1996   37129.99
Europe                                         1996   65888.93
Asia                                           1996   67973.72
Middle East, North Africa, and Greater Arabia  1996  118681.30

- Preecha os anos ausentes em cada país com uma estimativa, baseada na diferença entre o próximo registro e o anterior.

### DESAFIOS
- Você conseguiria criar um mapa do gdp ou da obesidade no mundo ao longo dos anos?

- Há uma relação entre níveis de obesidade e gdp per capita?